@using System;
@using System.Collections.Generic;
@using System.IO;
@using System.Linq;
@using System.Text;
@using System.Threading.Tasks;
@using Epam.Task06_Users.BLL.Interface;
@using Epam.Task06_Users.Common;
@using Epam.Task06_Users.Entities;

@if (IsAjax)
{
    Environment.CurrentDirectory = AppDomain.CurrentDomain.BaseDirectory;
    var awardLogic = DependencyResolver.AwardLogic;


    @:<link rel="stylesheet" type="text/css" href="~/Content/Styles.css" />

    try
    {
        <text>
            <table>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                </tr>
        </text>
        foreach (var awards in awardLogic.GetAll())
        {
            <text>
                <tr>
                    <td>@(awards.Id)</td>
                    <td>@(awards.Title)</td>
                </tr>
            </text>
        }
        @:</table>
    }
    catch (FileNotFoundException ex)
    {
            <p>Error: @ex.Message</p>
            <p>Before using this option, create at least one award.</p>
    }

    return;
 }
